<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CrowdServiceURL" value="http://192.168.0.4/crowdwcf/Service1.svc" />
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.4/CrowdWCF/Service1.svc/DesktopService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="CrowdService.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>