<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="RudderEntities" connectionString="metadata=res://*/MakeMoves.csdl|res://*/MakeMoves.ssdl|res://*/MakeMoves.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.7\sql2008r2;initial catalog=MakeMoves;user id=Kalpesh;password=kalpesh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="University_SearchEntities" connectionString="metadata=res://*/University_SearchEF.csdl|res://*/University_SearchEF.ssdl|res://*/University_SearchEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.7\sql2008r2;initial catalog=University_Search;user id=kalpesh;password=kalpesh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CrouwdEntities" connectionString="metadata=res://*/CrowdEF.csdl|res://*/CrowdEF.ssdl|res://*/CrowdEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.7\sql2008r2;initial catalog=Crowd;user id=kalpesh;password=kalpesh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>