<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="CrouwdEntities" connectionString="metadata=res://*/CrowdEF.csdl|res://*/CrowdEF.ssdl|res://*/CrowdEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.7\sql2008r2;initial catalog=Crouwd;user id=kalpesh;password=kalpesh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Bobby Development-->
    <add name="CrouwdEntities" connectionString="metadata=res://*/CrowdEF.csdl|res://*/CrowdEF.ssdl|res://*/CrowdEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Crowd;user id=crowd;password=cr0wd@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>