<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IndustryFileName" value="Industries.txt" />
    <add key="CityFileName" value="NY.json" />
    <add key="CompanyFileName" value="Companies.txt" />
    <add key="NameFileName" value="Names.txt" />
    <add key="NumberOfUsersToCreate" value="499" />
    <add key="MaxNumbersOfFollowersForUser" value="10"/>
    <add key="MaxNumbersOfJobPostingsForUser" value="5"/>
    <add key="JobTitleFileName" value="JobTitles.txt"/>
    <add key="MaxNumberOfThreadsForUser" value="5"/>
    <add key="MaxNumberOfMessagesInThread" value="10"/>
    <add key="MaxNumberOfFavoriteJobsForUser" value="5"/>
  <add key="MaxNumberOfAppliesJobsForUser" value="5"/>
  </appSettings>
  <connectionStrings>
    <add name="CrowdEntities" connectionString="data source=localhost;initial catalog=Crowd;user id=crowd;password=cr0wd@123;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>